<div class="gamefield-container">

  <div class="gamefield"
       [style.width.px]="getGamefieldWidth()"
       [style.height.px]="getGamefieldHeight()">

    <div class="block"
         [style.width.px]="blockSize"
         [style.height.px]="blockSize"
         [style.margin.px]="blockMargin"
         [style.borderWidth.px]="blockBorderWidth"
         [style.backgroundColor]="getColor(index)"
         [ngClass]="{'head': isHead(index)}"
         [style.transform]="'rotate(' + getHeadRotation() + 'deg)'"
         *ngFor="let field of gamefield; let index = index">
      <div *ngIf="isHead(index)">:)</div>
    </div>
  </div>
</div>