<div class="gamefield-container">

  <div class="gamefield-menu"
       [style.width.px]="getGamefieldWidth()">

    <div>
      Level:
      <select [ngModel]="currentLevel"
              (ngModelChange)="levelChange$.next($event)">
        <option *ngFor="let levelIndex of getLevelForSelect()"
                [value]="levelIndex">{{ levelIndex + 1 }}</option>
      </select>
    </div>

    <button (click)="loadGamefieldAndCountDown(currentLevel)">neustart</button>

    <div class="points">Punkte: {{ points }}</div>
  </div>

  <div class="gamefield"
       [style.width.px]="getGamefieldWidth()"
       [style.height.px]="getGamefieldHeight()">

    <div class="block"
         [style.width.px]="blockSize"
         [style.height.px]="blockSize"
         [style.margin.px]="blockMargin"
         [style.borderWidth.px]="blockBorderWidth"
         [style.backgroundColor]="getColor(index)"
         *ngFor="let field of gamefield; let index = index">
    </div>
  </div>
</div>

<div *ngIf="countdown > 0"
     class="countdown">
  {{ countdown }}
</div>
<ng-container *ngIf="gameState$ | async as currentGameState">

  <div *ngIf="currentGameState === gameState.gameover"
       class="gameState">
    gameover
  </div>

  <div *ngIf="currentGameState === gameState.winning"
       class="countdown">
    gewonnen
  </div>
</ng-container>