<div class="gamefield-container">

  <h1>{{ 'snake' | translate }}</h1>

  <div class="gamefield-menu"
       [style.width.px]="getGamefieldWidth()">

    <div>
      {{ 'level' | translate }}:
      <select class="level-select"
              [ngModel]="currentLevel"
              (ngModelChange)="levelChange$.next($event)">
        <option *ngFor="let levelIndex of getLevelsForSelect()"
                [value]="levelIndex">{{ levelIndex + 1 }}</option>
      </select>
    </div>

    <button (click)="loadGamefieldAndStartCountdown(currentLevel)">neustart</button>

    <div class="points">{{ 'points' | translate }}: {{ points }}</div>
  </div>

  <div class="gamefield"
       [style.width.px]="getGamefieldWidth()"
       [style.height.px]="getGamefieldHeight()">

    <div class="block"
         [style.width.px]="blockSize"
         [style.height.px]="blockSize"
         [style.margin.px]="blockMargin"
         [style.borderWidth.px]="blockBorderWidth"
         [style.backgroundColor]="getColorForBlock(block)"
         *ngFor="let _ of gamefield; let block = index">
    </div>
  </div>

  <div class="github-logo">
    <a target="_about:blank"
       href="https://github.com/gummelhummel/snake">
      <img src="/assets/github_logo.png"
           alt="GitHubLogo"
           width="32"
           height="32">
    </a>
  </div>
</div>

<div *ngIf="countdown > 0"
     class="countdown">
  {{ countdown }}
</div>

<ng-container *ngIf="gameState$ | async as currentGameState">
  <div *ngIf="isGameOver(currentGameState)"
       class="gameState">
    {{ 'gameover' | translate }}
  </div>

  <div *ngIf="isGameWon(currentGameState)"
       class="countdown">
    {{ 'won' | translate }}
  </div>
</ng-container>