.gamefield-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamefield {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    border: 1px solid gray;
}

.block {
    border-style: solid;
    border-color: transparent;
    border-radius: 15%;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: black;
    transform: rotate(90deg);
}

