.gamefield-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamefield-menu {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.points {
    font-size: 17px;
}

 select {
     padding: 5px;
     border-radius: 5px;
 }

.gamefield {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    border: 1px solid gray;
}

.block {
    border-style: solid;
    border-color: transparent;
    border-radius: 15%;
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
}

.gameState {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
}